name: "Build Test and Deploy"
on:
  pull_request_target:
    paths-ignore:
      - '*.md'
    branches: [ main ]
    types:
      - closed
jobs:
  macos:
    name: MacOS Build & Upload artifacts to sonatype
    if: github.event.pull_request.merged == true
    runs-on: macOS-latest
    env:
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 19
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '19'
          cache: gradle
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Test and deploy with Gradle Major
        if:  ${{ contains(github.event.pull_request.labels.*.name, 'major') }}
        run: ./gradlew check publishToMavenCentral --no-configuration-cache -PincrementMajor=true
      - name: Test and deploy with Gradle Minor
        if:  ${{ contains(github.event.pull_request.labels.*.name, 'minor') }}
        run: ./gradlew check publishToMavenCentral --no-configuration-cache -PincrementMinor=true
      - name: Test and deploy with Gradle Patch
        if:  ${{ !contains(github.event.pull_request.labels.*.name, 'major') && !contains(github.event.pull_request.labels.*.name, 'minor') }}
        run: ./gradlew check publishToMavenCentral --no-configuration-cache