name: "Build and Test"
on:
  pull_request:
    types:
      - ready_for_review
      - review_requested
      - synchronize
      - reopened
      - opened
jobs:
  review:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest ]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 12
        uses: actions/setup-java@v1
        with:
          java-version: 12
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Test with Gradle
        env:
          NPM_ACCESS_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        run: ./gradlew --no-daemon assemble build check allTests connectedAndroidTest publishJsNpmPublicationToNpmjs publishToMavenLocal
